.display{
        border-radius: 10px;



    .textArea{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #f1ecd5;
        width: 25vw;
        height: 40px;
        align-items: center;

    }
}