.drum{
    background-color: #8F9E8B;
    width: 50vw;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    .top{
        flex:0.2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f6f6f6;
        font-weight: 400;

        .power, .volume{
            display: inherit;
            justify-content: center;
            align-items: inherit;
        }

        .volume{
            width: 200px;
        }
    }
    .middle{
        flex:0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .row{
            display: flex;
            justify-content: space-evenly;
        }
    }
    .bottom{
        flex:0.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}